<form action="" method="post" class="mt-4">  
    <div class="container formgroup">				
        <div class="form-group">
          <div class="clearfix">
            <label>Username</label>
          </div>          
          <input class ="formgroup1" type="text" pInputText [(ngModel)]="username" placeholder="Username" name="username" required="required"/>
        </div>
        <div class="form-group">
          <div class="clearfix">
            <label>Password</label>
            <a href="#" class="pull-right text-muted"><small> Forgot?</small></a>
          </div>
          <input class ="formgroup1" type="password" pPassword placeholder="Password" [(ngModel)]="password"  name="password"  required="required"/>
        </div>
        <div class="modal-footer">
          <label class="checkbox-inline pull-left mr-3"><input type="checkbox"> Remember me</label>
          <!--input type="submit" (click)="checkLogin()" class="btn btn-primary pull-right" value="Login"-->
          <button pButton type="submit" label="Login" (click)="checkLogin()" class="ui-button-rounded pull-right"></button>
        </div>
      </div>
      
  </form>
