
<div>
    <app-navbar></app-navbar>

    <div class="row WelcomeText">
        <app-index-content></app-index-content>
    </div>
    <div class="row LoginRegistration">
        
                <div class="col-6">
                    <div class="text-center">
                        <!-- Button HTML (to Trigger Modal) -->
                        
                        <button pButton type="button" label="Sign up" [routerLink]="['/registration']" class="ui-button-primary"></button>
                    </div>
                    <p class="text-center mt-2">Please register if you dont have an account yet !</p>
                </div>
                <div class="col-6">
                    <div class="text-center">
                        <!-- Button HTML (to Trigger Modal) -->
                       
                        <button pButton type="button" label="Sign in" [routerLink]="['/login']" class="ui-button-success"></button>
                    </div>
                    <p class="text-center mt-2">Sign in and try our Technology</p>
                </div>
         
    </div>
    
    

<div>