<div>
  <app-navbar-app></app-navbar-app>
  <div class="row">
  <div *ngFor="let project of Projects; let i = index">
    <div class="col-4 ml-2">
    <div class="container mt-4">
      <p-card header="Project {{i+1}}" subheader="Description :" [style]="{width: '260px'}" styleClass="ui-card-shadow">
        <p-header>
            <img src="Card" src="https://www.primefaces.org/primeng/showcase/assets/showcase/images/usercard.png">
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt</div>
        <p-footer>
            <button pButton type="button" (click)="preview(project)" label="Preview" icon="pi pi-check" style="margin-right: .25em"></button>
            <button  pButton class="ml-1" type="button" (click)="download(project)" label="Download" icon="pi pi-check" style="margin-right: .25em"></button>
            <button  pButton class="mt-1 ui-button-danger" type="button" (click)="delete(i)" label="Delete" icon="pi pi-check" style="margin-right: .25em"></button>
          </p-footer>
        
    </p-card>
    </div>
  </div>
    </div>
  </div>
   
</div>