<div>
    <div class="container">
        <div class="card mt-3" style="width: 18rem;">
            <img src="https://kishstats.com/assets/2018/07/bootstrap-cards.png" class="card-img-top" alt="..." Placeholder= "The image uploaded">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Download bellow your code Html with Css, Enjoy !.</p>
              <!--a href="#" class="btn btn-primary stretched-link">Download</a-->
              <button pButton type="submit" label="Download" class="ui-button-rounded stretched-link"></button>

            </div>
          </div>
    </div>
</div>