<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My projects</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link src="../static/styles/login_popup.css" th:href="@{styles/login_popup.css}">
<style>
            body {
                background-color: #f2f7fb
            }

            
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MockupToHtml&Css</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Username</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    
  </div>
</nav>
    <div class="container">
        <div class="card mt-3" style="width: 18rem;">
            <img src="https://kishstats.com/assets/2018/07/bootstrap-cards.png" class="card-img-top" alt="..." Placeholder= "The image uploaded">
            <div class="card-body">
              <h5 class="card-title">Project 1</h5>
              <p class="card-text">Download bellow your code Html with Css, Enjoy !.</p>
              <a href="#" class="btn btn-primary stretched-link">Download</a>
            </div>
          </div>
    </div>

    
</body>
</html>