<div class="container">
    <div class="container WelcomeText">
        <p class="display-4 text-center">Welcome Text</p>
        <p class="text-center">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        
    
    </div>
    <div class=" LoginRegistration">
        <div class="row">
            <div class="col-6">
                <div class="text-center">
                    <!-- Button HTML (to Trigger Modal) -->
                    <button class="btn btn-primary" >Sign up</button>
                </div>
                <p class="text-center mt-2">Please register if you dont have an account yet !</p>
            </div>
            <div class="col-6">
                <div class="text-center">
                    <!-- Button HTML (to Trigger Modal) -->
                    <button class="btn btn btn-success" >Sign In</button>
                </div>
                <p class="text-center mt-2">Sign in and try our Technology</p>
            </div>
        </div>
    </div>
   
   

</div>
